.footer {      
    bottom: 0;
    margin-bottom: 20px; 
    position: absolute;
    text-align: center;
    width: 100%;

    a {
        color: $mako;
        text-decoration: underline;
    }

    @include phones {
        font-size: 13px;
    }
}