.landing-page {
    background-color: $snow;   
    padding: 60px 35px;  
    align-items: center;
    
    .hero{        
        padding: 0 65px;
        text-align: center;        

        h2 {    
            color: $cornflower-blue;            
            font-size: 60px;     
        }

        p {            
            font-size: 20px;
            color: $mako;
            font-weight: 350;
            margin-top: 15px;
        }

        img {             
            margin-top: 20px;
            width: 80%;
        }
    } 

    .log-in-form {              
        max-width: 450px;
        margin-top: 20px;
        padding: 0;
        width: 100%;
    }
    
    @include phones {

        padding: 40px 0px 25px; 

        .hero {
            
            h2 {                    
                font-size: 18px;          
            }

            p {
                font-size: 14px;
            }

            img {                             
                display: none;
            }
        }    
    }
       
    @include large-phones {

        padding: 40px 0px;

        .hero {
            
            h2 {                    
                font-size: 25px;          
            }

            p {
                font-size: 16px;
            } 

            img {                             
                display: none;
            }
        }    
    }
    
    @include tablets {
    
        .hero {            
            padding: 0 25px;
            
            h2 {                    
                font-size: 40px;          
            }

            p {
                font-size: 16px;
            } 

            img {                             
                width: 95%;
            }
        }
    } 
}