.sign-up {
    align-items: center;  
    background-color: $snow;
    padding-top: 65px;
    padding-bottom: $containerPaddingBottom;

    .sign-up-form {
        max-width: 350px;    
        width: 100%;
    }    

    @include phones {

        .sign-up-form {
            max-width: 300px;                
        }           
    }
}